<!--
<div class="row">
  <div class="col">
    <input type="text"[(ngModel)]="imgParent">
 </div>
 <div class="col">
  <div class="row">


    <div class="col">
      <button (click)="showImg()">Show image component</button>
    </div>
    <div class="col">
      <app-img *ngIf="showImage" (loaded)="onLoaded($event)" [img]= "imgParent"></app-img>
    </div>

  </div>

 </div>
</div>
<hr> -->
<app-nav [email] = 'email'></app-nav>
<button (click)="createUser()">Create user</button>
<button (click)="login()">Login</button>
<app-products></app-products>

